@page "/tags"

@using Eliza.Shared

@inject Eliza.Client.Services.Core.ITagApi TagApi

@if (_elizaTags == null)
{
    <div class="container-fluid d-flex" style="min-height:95vh">
        <div class="row justify-content-center align-items-center w-100" style="padding-left:inherit;margin:inherit">
            <div class="spinner-border" style="width: 5rem; height: 5rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
}
else
{
    <table class="table table-striped table-sm table-dark">
        <thead>
            <tr>
                <td scope="col" align="center">Tag Name</td>
                <td scope="col" align="center">Subscriber Count</td>
                <td scope="col" align="center">Blacklister Count</td>
            </tr>
        </thead>
        <tbody>
            @foreach (TagMetaDataDTO tag in _elizaTags)
            {
                <tr>
                    <td align="center">
                        <span>
                            @tag.TagName
                        </span>
                    </td>
                    <td align="center">
                        <span>
                            @tag.SubscriberCount
                        </span>
                    </td>
                    <td align="center">
                        <span>
                            @tag.BlacklisterCount
                        </span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    TagMetaDataDTO[] _elizaTags;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _elizaTags = await TagApi.GetTagMetaDataAsync();
        }
        catch
        {
            throw;
        }
    }
}
